.split-category-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #ddd;
  }
  
 
  
  .category-select {
    margin-bottom: 20px;
  }
  
  .category-select select {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .expense-input {
    margin-bottom: 15px;
  }
  
  .expense-input input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .add-expense-btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .add-expense-btn:hover {
    background-color: #45a049;
  }
  
  .categorized-expenses {
    margin-top: 20px;
  }
  
  .category {
   
    margin-bottom: 30px;
  }
  
  .category h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .category table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .category th, .category td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .category th { color: black;
    background-color: #f4f4f4;
  }
  
  .category td { color: black;
    background-color: #fff;
  }
  