
.timer{

    font-family: "Poppins", sans-serif;
    color: #f1f1f1;

  }

  .design{
    margin-left: -230px;
  }

  .text_area {
    padding:70px;
    padding-bottom: 0px;
    max-width: 600px;
  }

  .text_area h1{
    font-size:30px;
    color: rgba(51, 230, 246, 0.49);
  }

.btn__area{
  margin-top: 40px;
}

.timer_btn{
  width: 100%;
  margin-left: 65px;
}  

  .timmer {
    width: 100%;
    color: rgba(255, 49, 101, 1);
     font-size: 30px;
     margin-left:80px;
     font-weight: bold;
   }


  @media only screen and (max-width: 600px){
    .png_area{
      display:none;
    }

    .text_area {
      padding:30px;
      padding-bottom: 0px;
    }
  
    .text_area h1{
      font-size:25px;
      color: rgba(51, 230, 246, 0.49);
    }
  
    .text_area p{
      font-size: 18px;
    }
   
    .btn__area{
      margin-top: 20px;
      margin-left: -20px;
      padding-bottom: 20px;
    }
    
    .timer_btn{
      width: 60%;
      margin-left: 85px;
    }  
    
      .timmer {
        width: 60%;
        color: rgba(255, 49, 101, 1);
         font-size:20px;
         text-align: center;
         font-weight: bold;
       }
    
  }
