/* Styling for the QRScanner component */
.scanner-container {
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.scanner-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #4498e6;
}

.scanner-box {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.scanner-instructions {
  margin-top: 20px;
  font-size: 16px;
  color: #f4eeee;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1a85e6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #166bc5;
}
