.auth-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #faf5f5;
}

form {
    display: flex;
    flex-direction: column;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.input-box input:focus {
    border-color: #10cdde;
    box-shadow: 0 0 5px rgba(16, 205, 222, 0.5);
}

button {
    background-color: #10cdde;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0bb0c7;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

p button {
    background: none;
    color: #10cdde;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    font-size: 14px;
}

p button:hover {
    color: #0bb0c7;
}
